---
// 暂时删掉所有复杂逻辑，只留最简单的 HTML
---
<html>
  <head><title>Life Test</title></head>
  <body style="background: #EEC43E; padding: 100px; text-align: center;">
    <h1 style="font-family: serif;">如果看到这个页面，说明路径通了！</h1>
    <p>现在可以把刚才那长串社媒代码贴回来了。</p>
    <a href="/">返回首页</a>
  </body>
</html>
